<a href="https://colab.research.google.com/github/GermanStanzione/TT-2C2025-Data-Analitycs-Notebooks/blob/main/Clase_6/Mia/Clase_06_NB1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Filtros y selecciones en Pandas

## Importamos Dataset y hacemos un EDA

In [1]:
# Importar la librería Pandas
import pandas as pd

In [2]:
# Montar la unidad
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
# Importamos el Dataset Netflix
df = pd.read_csv("/content/drive/MyDrive/datasets/netflix_titles.csv")

In [4]:
# Ver información general del Dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [ ]:
# Ver los primeros registros

In [5]:
# Rápida exploración de duplicados
df.duplicated().sum()

np.int64(0)

In [7]:
# Rápida exploración de nulos
df.isnull().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

## Selección de columnas y filas

In [8]:
df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [11]:
# Visualizar columnas
df["type"]

0         Movie
1       TV Show
2       TV Show
3       TV Show
4       TV Show
         ...
8802      Movie
8803    TV Show
8804      Movie
8805      Movie
8806      Movie
Name: type, Length: 8807, dtype: object

In [ ]:
# Observar o filtrar una columna
cols =

In [ ]:
# Observar o filtrar más de una columna

In [ ]:
# Agregamos ordenamiento

In [12]:
# Seleccionar filas específicas
df.loc[1:3]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."

In [14]:
# Seleccionar un subset (filas y columnas especíicas)
df.loc[1:3, ["type", "country"]]

      type       country
1  TV Show  South Africa
2  TV Show           NaN
3  TV Show           NaN

## Filtros

### Filtros con condiciones lógicas

In [ ]:
# Filtrar los registros que sean Movie

In [ ]:
# df.head(2)

In [ ]:
# Los registros cuyo campo country es Argentina

In [ ]:
# Los registros (movies/series) que cuyo año de "release" es anterior al 2020

In [ ]:
# Verificar el dtype de la columna "release_year"

In [ ]:
# Los registros (movies/series) que cuyo date_added es anterior al 2020

In [ ]:
# Verificar el dtype de la columna "date_added"

In [ ]:
# Convertimos el dtype de object a datetime

### Combinación de condiciones (&, |)

In [ ]:
# Filtrar por más de una condición df[(df["campo1" == "valor"]) &| ("campo2" > valor)]

In [ ]:
# Usamos contains() para texto

In [ ]:
# Jugar un poco con el dataframe con las películas Argentinas

In [ ]:
# Usamos isin() para listas
# Supongamos que queremos filtrar las películas de 3 países

In [ ]:
# Uso de query - más legible para condiciones complejas
# Permite escribir una condicion como si fuera una consulta sql